[Unit]
Description=Detect external monitor connection

[Service]
StandardOutput=journal
StandardError=journal
ExecStart=%h/.scripts/auto_monitor.sh
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
