[Unit]
Description=Monitor audio-related D-Bus events

[Service]
StandardOutput=journal
StandardError=journal
ExecStart=%h/.scripts/audio/dbus_monitor.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
