[Unit]
Description=easyeffects daemon
#PartOf=default.target
#After=default.target

[Service]
Environment="G_MESSAGES_DEBUG=easyeffects"
ExecStart=easyeffects --gapplication-service
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
