[Unit]
Description=easyeffects daemon
#PartOf=default.target
#After=default.target
StartLimitIntervalSec=0

[Service]
Environment="G_MESSAGES_DEBUG=easyeffects"
ExecStart=easyeffects --gapplication-service
Restart=always

[Install]
WantedBy=default.target
