[Unit]
Description=Switch out from empty workspace

[Service]
StandardOutput=journal
StandardError=journal
ExecStart=%h/.scripts/switch_out_from_empty.sh
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
