[Unit]
Description=Restart swww-daemon in case of a crash

[Service]
Type=simple
ExecStart=swww-daemon
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
