[Unit]
Description=Starts double tap touchscreen service

[Service]
Restart=always
ExecStart=/usr/local/bin/double-tap.sh

[Install]
WantedBy=default.target
