:root {
    --toolbox-bgcolor-inactive: var(--toolbox-bgcolor) !important;
    --chrome-content-separator-color: var(--toolbox-bgcolor) !important;
}

.titlebar-buttonbox-container,
#sidebar-tools-and-extensions-splitter,
.tools-and-extensions {
    display: none !important;
}

#navigator-toolbox {
    background-color: #1e1e2e !important;
}

#tabbrowser-tabbox {
    box-shadow: none !important;
}
