:root {
    --toolbox-bgcolor-inactive: #11111b !important;
    --toolbox-bgcolor: #11111b !important;
    --chrome-content-separator-color: #11111b !important;
}

.titlebar-buttonbox-container,
#sidebar-tools-and-extensions-splitter,
.tools-and-extensions {
    display: none !important;
}

#navigator-toolbox {
    background-color: #1e1e2e !important;
}

#tabbrowser-tabbox {
    box-shadow: none;
}
