:root {
    --toolbox-bgcolor-inactive: var(--toolbox-bgcolor) !important;
    --chrome-content-separator-color: var(--toolbox-bgcolor) !important;
}

.titlebar-buttonbox-container,
#sidebar-tools-and-extensions-splitter,
.tools-and-extensions {
    display: none !important;
}

#navigator-toolbox {
    background-color: #1e1e2e !important;
}

#tabbrowser-tabbox {
    box-shadow: none !important;
}

#context-openlinkinusercontext-menu,
#context-previewlink,
#context-media-pause,
#context-media-mute,
#context-media-unmute,
#context-media-playbackrate,
#context-media-loop,
#context-leave-dom-fullscreen,
#context-video-fullscreen,
#context-media-hidecontrols,
#context-media-showcontrols,
#context-viewvideo,
#context-video-pictureinpicture,
#context-video-saveimage,
#context-searchselect,
#context-searchselect-private,
#context-translate-selection,
#foxyproxy_eric_h_jung-menuitem-525,
#foxyproxy_eric_h_jung-menuitem-1,
#_446900e4-71c2-419f-a6a7-df9c091e268b_-menuitem-_root {
    display: none;
}
